workflows-backup.json
[{"updatedAt":"2026-05-30T03:14:27.857Z","createdAt":"2026-05-29T13:22:39.910Z","id":"cVk4tdWH3JCqfL2r","name":"My workflow","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"0dbd6036-09f3-4f97-9d39-4f18185b02c6","name":"When clicking 'Execute workflow'"}],"connections":{},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6e73946f-e338-4318-a37d-6450ed48d377","tags":[]},{"updatedAt":"2026-06-03T00:00:00.000Z","createdAt":"2026-05-30T11:46:53.458Z","id":"25QZQ664N6hrIg59","name":"BarbeariaPro Bot - WhatsApp Chatbot","description":"Chatbot WhatsApp com IA","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-400,0],"id":"2ad06331-6c46-419e-bce8-a0feea6d3497","name":"Webhook","webhookId":"621b2e36-1301-4b16-98ed-e732ed81e34e"},{"parameters":{"assignments":{"assignments":[{"id":"sp1","name":"phone","value":"={{ $json.body.data.key.remoteJid.replace('@s.whatsapp.net', '').replace('@g.us', '') }}","type":"string"},{"id":"sp2","name":"fromMe","value":"={{ $json.body.data.key.fromMe }}","type":"boolean"},{"id":"sp3","name":"remoteJid","value":"={{ $json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-200,0],"id":"setphone-001","name":"Set Phone"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/chat/sendPresence/Barbearia","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"6BCBCA57CE49-4E10-9C21-5B9FECAE40B2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $json.phone }}\",\n  \"presence\": \"composing\",\n  \"delay\": 2000\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[0,0],"id":"composing-001","name":"Send Composing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"c1","leftValue":"={{ $('Set Phone').item.json.remoteJid }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"endsWith"}},{"id":"c2","leftValue":"={{ $('Set Phone').item.json.fromMe }}","rightValue":false,"operator":{"type":"boolean","operation":"false","name":"filter.operator.false"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[200,0],"id":"if-001","name":"If Individual Message"},{"parameters":{"promptType":"define","text":"={{ '[WhatsApp: +' + $json.phone + ']\\n' + $json.message }}","options":{"systemMessage":"Voce e Raquel, atendente virtual da Barbearia Taylor e Thedy.\n\nBARBEIROS: Taylor (id=1, cortes classicos), Thedy (id=2, barba e coloracao).\n\nFLUXO:\n1. Cumprimente e pergunte o que deseja.\n2. Servicos: chame listar_servicos.\n3. Barbeiros: chame listar_barbeiros.\n4. Para AGENDAR:\n   a. Pergunte nome, servico, barbeiro, data e hora.\n   b. Chame verificar_disponibilidade(barber_id, service_id, date=YYYY-MM-DD).\n   c. Mostre slots e confirme com o cliente.\n   d. Chame cadastrar_cliente(phone=NUMERO_SEM_MAIS, name=NOME). Obtenha o client_id.\n   e. Chame criar_agendamento(client_id, barber_id, service_id, start_at=ISO-03:00).\n      Exemplo start_at: 2026-06-10T09:00:00-03:00\n5. CONSULTAR: chame consultar_agendamentos(phone=+NUMERO).\n6. CANCELAR: lista agendamentos, confirma, chama cancelar_agendamento(appointment_id).\n\nNUMERO_SEM_MAIS: numero sem + (ex: 5563999368196).\nMensagens curtas. Portugues do Brasil. NUNCA invente horarios.","maxIterations":15,"returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1240,0],"id":"agent-001","name":"AI Agent"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/message/sendText/Barbearia","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"6BCBCA57CE49-4E10-9C21-5B9FECAE40B2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Code Flush Buffer').item.json.phone }}\",\n  \"text\": \"{{ $json.output }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1480,0],"id":"sendresp-001","name":"Send Response"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"options":{"maxTokens":800,"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1100,280],"id":"llm-001","name":"OpenAI GPT-4o-mini","credentials":{"openAiApi":{"id":"md1VzrcFUBhOFYfr","name":"OpenAI account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Set Phone').item.json.phone }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1240,280],"id":"memory-001","name":"Memory"},{"parameters":{"name":"listar_servicos","description":"Lista servicos com ID, nome, preco e duracao.","method":"GET","url":"http://host.docker.internal:8000/bot/services","authentication":"none","sendQuery":true,"queryParameters":{"parameters":[{"name":"_","value":"={{ $fromAI('_', 'Ignorar. Passe string vazia.', 'string') }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Bot-Token","value":"barbearia-bot-key-2026-mvp-seguro"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[200,400],"id":"t-svc","name":"Tool: Listar Servicos"},{"parameters":{"name":"listar_barbeiros","description":"Lista barbeiros com ID, nome e especialidade.","method":"GET","url":"http://host.docker.internal:8000/bot/barbers","authentication":"none","sendQuery":true,"queryParameters":{"parameters":[{"name":"_","value":"={{ $fromAI('_', 'Ignorar. Passe string vazia.', 'string') }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Bot-Token","value":"barbearia-bot-key-2026-mvp-seguro"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[400,400],"id":"t-brb","name":"Tool: Listar Barbeiros"},{"parameters":{"name":"verificar_disponibilidade","description":"Horarios livres do barbeiro. Params: barber_id(number), service_id(number), date(YYYY-MM-DD).","method":"GET","url":"http://host.docker.internal:8000/bot/availability","authentication":"none","sendQuery":true,"queryParameters":{"parameters":[{"name":"barber_id","value":"={{ $fromAI('barber_id', 'ID do barbeiro', 'number') }}"},{"name":"service_id","value":"={{ $fromAI('service_id', 'ID do servico', 'number') }}"},{"name":"date","value":"={{ $fromAI('date', 'Data YYYY-MM-DD', 'string') }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Bot-Token","value":"barbearia-bot-key-2026-mvp-seguro"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[600,400],"id":"t-avail","name":"Tool: Verificar Disponibilidade"},{"parameters":{"name":"cadastrar_cliente","description":"Cadastra cliente. phone=numero sem + (ex 5563999368196). Retorna client_id.","method":"POST","url":"http://host.docker.internal:8000/bot/clients","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Bot-Token","value":"barbearia-bot-key-2026-mvp-seguro"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ phone: $fromAI(\"phone\", \"Numero sem plus\", \"string\"), name: $fromAI(\"name\", \"Nome completo\", \"string\") }) }}","options":{}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[800,400],"id":"t-cli","name":"Tool: Cadastrar Cliente"},{"parameters":{"name":"criar_agendamento","description":"Cria agendamento. Params: client_id, barber_id, service_id, start_at (ISO-03:00 ex 2026-06-10T09:00:00-03:00).","method":"POST","url":"http://host.docker.internal:8000/bot/appointments","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Bot-Token","value":"barbearia-bot-key-2026-mvp-seguro"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ client_id: $fromAI(\"client_id\", \"ID do cliente\", \"number\"), barber_id: $fromAI(\"barber_id\", \"ID do barbeiro\", \"number\"), service_id: $fromAI(\"service_id\", \"ID do servico\", \"number\"), start_at: $fromAI(\"start_at\", \"ISO8601 fuso -03:00\", \"string\") }) }}","options":{}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1000,400],"id":"t-appt","name":"Tool: Criar Agendamento"},{"parameters":{"name":"consultar_agendamentos","description":"Agendamentos ativos do cliente. phone=E.164 com + (ex +5563999368196).","method":"GET","url":"http://host.docker.internal:8000/bot/appointments","authentication":"none","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $fromAI('phone', 'Telefone E.164 com +', 'string') }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Bot-Token","value":"barbearia-bot-key-2026-mvp-seguro"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1200,400],"id":"t-lstappt","name":"Tool: Consultar Agendamentos"},{"parameters":{"name":"cancelar_agendamento","description":"Cancela agendamento pelo ID numerico.","method":"PATCH","url":"={{ 'http://host.docker.internal:8000/bot/appointments/' + $fromAI('appointment_id', 'ID numerico do agendamento', 'number') + '/cancel' }}","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Bot-Token","value":"barbearia-bot-key-2026-mvp-seguro"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1400,400],"id":"t-cancel","name":"Tool: Cancelar Agendamento"},{"parameters":{"jsCode":"// Debounce: agrupa mensagens do mesmo número enviadas em até 5s\nconst phone = $('Set Phone').item.json.phone;\nconst body = $('Webhook').item.json.body;\nconst message = body?.data?.message?.conversation\n  || body?.data?.message?.extendedTextMessage?.text\n  || '';\n\nconst sd = $getWorkflowStaticData('global');\nif (!sd.debounce) sd.debounce = {};\n\nconst now = Date.now();\nconst STALE_MS = 15000; // buffer considerado morto após 15s\nconst buf = sd.debounce[phone];\n\nif (!buf || (now - buf.updatedAt) > STALE_MS) {\n  // Primeiro da rajada: vira o controller\n  sd.debounce[phone] = { messages: [message], updatedAt: now };\n  return [{ json: { isController: true, phone } }];\n} else {\n  // Buffer ativo: só empilha e encerra esta execução\n  buf.messages.push(message);\n  buf.updatedAt = now;\n  return [{ json: { isController: false, phone } }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,0],"id":"debounce-001","name":"Code Debounce"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ctrl-c1","leftValue":"={{ $json.isController }}","rightValue":true,"operator":{"type":"boolean","operation":"true","name":"filter.operator.true"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[620,0],"id":"if-ctrl-001","name":"IF Controller"},{"parameters":{"amount":5,"unit":"seconds"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[840,0],"id":"wait-debounce","name":"Wait 5s","webhookId":"debounce-wait-barbearia"},{"parameters":{"jsCode":"// Lê e limpa o buffer, retorna mensagens concatenadas\nconst phone = $json.phone;\nconst sd = $getWorkflowStaticData('global');\nconst buf = sd.debounce?.[phone];\nconst messages = buf?.messages ?? [];\ndelete sd.debounce[phone];\nreturn [{ json: { phone, message: messages.join('\\n') } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,0],"id":"flush-001","name":"Code Flush Buffer"}],"connections":{"Webhook":{"main":[[{"node":"Set Phone","type":"main","index":0}]]},"Set Phone":{"main":[[{"node":"Send Composing","type":"main","index":0}]]},"Send Composing":{"main":[[{"node":"If Individual Message","type":"main","index":0}]]},"If Individual Message":{"main":[[{"node":"Code Debounce","type":"main","index":0}],[]]},"AI Agent":{"main":[[{"node":"Send Response","type":"main","index":0}]]},"OpenAI GPT-4o-mini":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Tool: Listar Servicos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool: Listar Barbeiros":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool: Verificar Disponibilidade":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool: Cadastrar Cliente":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool: Criar Agendamento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool: Consultar Agendamentos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool: Cancelar Agendamento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Code Debounce":{"main":[[{"node":"IF Controller","type":"main","index":0}]]},"IF Controller":{"main":[[{"node":"Wait 5s","type":"main","index":0}],[]]},"Wait 5s":{"main":[[{"node":"Code Flush Buffer","type":"main","index":0}]]},"Code Flush Buffer":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b4f5d8b8-5a74-47e9-9d7d-e2fee7d6d543","activeVersionId":"b4f5d8b8-5a74-47e9-9d7d-e2fee7d6d543","versionCounter":5,"triggerCount":1,"tags":[],"shared":[{"role":"workflow:owner","workflowId":"25QZQ664N6hrIg59","projectId":"H2YqPFzdwCTqkwBP","project":{"id":"H2YqPFzdwCTqkwBP","name":"Augusto Pegoraro <augustopegoraro.apl@gmail.com>","type":"personal"}}]}]