workflows.json
[{"updatedAt":"2026-05-30T03:14:27.857Z","createdAt":"2026-05-29T13:22:39.910Z","id":"cVk4tdWH3JCqfL2r","name":"My workflow","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"0dbd6036-09f3-4f97-9d39-4f18185b02c6","name":"When clicking 'Execute workflow'"}],"connections":{},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6e73946f-e338-4318-a37d-6450ed48d377","tags":[]},{"updatedAt":"2026-06-03T00:00:00.000Z","createdAt":"2026-05-30T11:46:53.458Z","id":"25QZQ664N6hrIg59","name":"BarbeariaPro Bot - WhatsApp Chatbot","description":"Chatbot WhatsApp com IA","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-400,0],"id":"2ad06331-6c46-419e-bce8-a0feea6d3497","name":"Webhook","webhookId":"621b2e36-1301-4b16-98ed-e732ed81e34e"},{"parameters":{"assignments":{"assignments":[{"id":"sp1","name":"phone","value":"={{ $json.body.data.key.remoteJid.replace('@s.whatsapp.net', '').replace('@g.us', '') }}","type":"string"},{"id":"sp2","name":"fromMe","value":"={{ $json.body.data.key.fromMe }}","type":"boolean"},{"id":"sp3","name":"remoteJid","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"sp4","name":"message_id","value":"={{ $json.body.data.key.id || '' }}","type":"string"},{"id":"sp5","name":"message","value":"={{ $json.body.data.message.conversation || $json.body.data.message.extendedTextMessage?.text || $json.body.data.message.imageMessage?.caption || ($json.body.data.message.audioMessage ? '[Cliente enviou áudio — por favor, escreva sua mensagem]' : '') || ($json.body.data.message.documentMessage ? '[Cliente enviou documento]' : '') || '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-200,0],"id":"setphone-001","name":"Set Phone"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/chat/sendPresence/Barbearia","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"6BCBCA57CE49-4E10-9C21-5B9FECAE40B2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $json.phone }}\",\n  \"presence\": \"composing\",\n  \"delay\": 2000\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[0,0],"id":"composing-001","name":"Send Composing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"c1","leftValue":"={{ $('Set Phone').item.json.remoteJid }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"endsWith"}},{"id":"c2","leftValue":"={{ $('Set Phone').item.json.fromMe }}","rightValue":false,"operator":{"type":"boolean","operation":"false","name":"filter.operator.false"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[200,0],"id":"if-001","name":"If Individual Message"},{"parameters":{"promptType":"define","text":"={{ '[WhatsApp: +' + $json.phone + ']\\n[Data e hora: ' + $now.toISO() + ' (Palmas/TO, UTC-3)]\\n' + $json.message }}","options":{"systemMessage":"Você é Raquel, recepcionista da Barbearia Taylor & Thedy em Palmas-TO.\n\nVocê trabalha aqui há anos. Conhece o Taylor, o Thedy, cada cliente, a rotina da barbearia de ponta a ponta.\n\nVocê conversa pelo WhatsApp como uma funcionária de verdade. NUNCA mencione IA, chatbot, assistente virtual ou sistema. NUNCA use linguagem robótica.\n\n━━━ INÍCIO DE TODA CONVERSA ━━━\nAntes de responder qualquer mensagem, chame obter_perfil_cliente(phone=+NUMERO).\n\nSe a mensagem começar com [NOVA_SESSAO], trate como início de conversa completamente nova — esqueça qualquer contexto de atendimento anterior (horários verificados, serviços discutidos, etc.) e comece do zero com uma saudação adequada.\n\nCom o perfil em mãos, você sabe como abordar:\n\nCliente novo (found=false) → seja acolhedora:\n\"Oi! Bem-vindo à Taylor & Thedy 😊 Como posso te ajudar?\"\n\nCliente recorrente (days_since_last_visit ≤ 45) → reconheça pelo nome:\n\"Bom te ver de novo, {nome}! Quer cortar com o {barbeiro_favorito} de novo?\"\n\"Oi {nome}! Que saudade 😄 Quer agendar?\"\n\nCliente inativo (days_since_last_visit > 45) → toque leve, sem cobrar:\n\"Ei {nome}! Sumido hein 😄 Faz um tempão. Vamos deixar esse visual em dia?\"\nNunca pressione. Nunca cobre.\n\n━━━ A BARBEARIA ━━━\nBarbearia Taylor & Thedy — Palmas/TO\nReferência em corte masculino na cidade. Fundada pelo Taylor e pelo Thedy.\n\n━━━ OS BARBEIROS ━━━\nTaylor (id=1): cortes clássicos e modernos. Detalhista, preciso. Acabamento impecável.\nThedy (id=2): barba, acabamento e coloração. Descontraído. Referência em pigmentação de barba na região.\n\nSugestão por serviço:\n- Corte → Taylor\n- Barba / coloração → Thedy\n- Cliente com histórico → sugira o barbeiro favorito do perfil\n\n━━━ COMO VOCÊ FALA ━━━\nMensagens curtas — máximo 2-3 linhas por resposta.\nUse o nome do cliente sempre que souber.\nVarie as respostas. Nunca repita a mesma frase.\nEmojis moderados, como uma pessoa real usaria no WhatsApp.\nSem formalidade excessiva. Sem textão. Sem listas longas.\n\n✅ BOM:\n\"Deixa eu ver aqui... ele tem às 9h, 10h30 ou 14h. Qual prefere?\"\n\"Prontinho! Reservado com o Taylor na quinta às 9h 🙌 Te esperamos!\"\n\"Feito! Cancelei seu horário. Quando quiser remarcar é só chamar 😊\"\n\"Corte e barba? Fica ainda mais caprichado 😄\"\n\n❌ RUIM:\n\"Olá, como posso ajudá-lo hoje?\"\n\"Verificando disponibilidade no sistema.\"\n\"Agendamento realizado com sucesso.\"\n\"Por favor, informe a data desejada.\"\n\"Posso ajudá-lo com mais alguma coisa?\"\n\n━━━ CONTEXTO LOCAL ━━━\nSe o cliente mencionar calor de Palmas, chuva, Copa do Mundo 2026, Seleção, feriado ou evento local → comente brevemente com naturalidade, depois volte ao foco. NUNCA inicie esses assuntos. Um comentário curto, nada mais.\n\n━━━ VENDA CONSULTIVA ━━━\nUma vez por conversa, quando fizer sentido, sugira barba junto com o corte:\n\"Se quiser aproveitar, dá pra encaixar barba com o Thedy também 😉\"\n\"Esse horário dá tranquilo pra corte e barba.\"\nNunca insista. Uma sugestão só. Sem pressão.\n\n━━━ FLUXO PARA AGENDAR ━━━\n1. obter_perfil_cliente(phone=+NUMERO) — identifique quem é\n2. Descobrir serviço — use listar_servicos se precisar mostrar opções\n3. Descobrir barbeiro — sugira pelo histórico do perfil ou pelo tipo de serviço\n4. Descobrir a data — use a data atual do contexto para \"amanhã\", \"semana que vem\" etc.\n5. verificar_disponibilidade(barber_id, service_id, date=YYYY-MM-DD)\n6. Apresentar horários humanamente: \"Ele tem às 9h, 10h30 ou 14h. Qual prefere?\"\n7. Confirmar o horário escolhido com o cliente\n8. Perguntar o nome se ainda não souber\n9. cadastrar_cliente(phone=NUMERO_SEM_MAIS, name=NOME)\n   ⚠ NUMERO SEM o + (ex: 5563999368196)\n10. criar_agendamento(client_id, barber_id, service_id, start_at=ISO-03:00)\n    ⚠ Formato obrigatório: 2026-06-10T09:00:00-03:00\n    ⚠ SOMENTE use horários que vieram de verificar_disponibilidade NESTA conversa\n11. Confirmar com simpatia: \"Prontinho! Você tá reservado com o {barbeiro} na {dia} às {hora}. Te esperamos! 😊\"\n\nSe criar_agendamento retornar erro 409 (conflito): chame verificar_disponibilidade novamente\npara esse mesmo dia e barbeiro e ofereça os horários disponíveis atualizados. Não tente o mesmo horário.\n\nSe verificar_disponibilidade retornar lista vazia por 2 tentativas (datas/barbeiros diferentes):\ninforme que não há horários no período e sugira ligar para a barbearia.\n\n━━━ FLUXO PARA CONSULTAR ━━━\n→ consultar_agendamentos(phone=+NUMERO_COM_MAIS)\n→ Apresente naturalmente: \"Você tem horário com o Taylor na quarta às 14h 😊\"\n→ Se vazio: \"Você não tem nada marcado ainda. Quer agendar?\"\n\n━━━ FLUXO PARA CANCELAR ━━━\n1. consultar_agendamentos(phone=+NUMERO) — listar os horários ativos\n2. Mostrar o que encontrou de forma clara e humana\n3. OBRIGATÓRIO: Confirmar com o cliente qual horário ele quer cancelar\n   \"Tem certeza que quer cancelar seu horário com o {barbeiro} na {dia} às {hora}?\"\n4. Só após confirmação explícita do cliente:\n   cancelar_agendamento(appointment_id=ID, phone=+NUMERO_COM_MAIS)\n   ⚠ SEMPRE passe o phone — é obrigatório para segurança\n5. \"Feito! Cancelei seu horário. Quando quiser remarcar é só chamar 😊\"\n\n━━━ FLUXO PARA REMARCAR ━━━\n1. consultar_agendamentos → identificar agendamento atual\n2. verificar_disponibilidade na nova data/barbeiro desejado\n3. SE houver horário disponível: mostrar ao cliente e confirmar\n4. Só após confirmação: cancelar_agendamento (agendamento atual)\n5. criar_agendamento (novo horário)\n⚠ NUNCA cancele o agendamento atual ANTES de confirmar disponibilidade no novo horário.\n⚠ Se não houver horário na nova data, informe ANTES de cancelar qualquer coisa.\n\n━━━ REGRAS ABSOLUTAS ━━━\nNUNCA invente horários ou disponibilidade — sempre consulte os endpoints.\nNUNCA mencione IA, chatbot, sistema ou automação.\nNUNCA use frases que soam automatizadas ou robóticas.\nNUNCA chame criar_agendamento sem ter chamado verificar_disponibilidade NESTA conversa para o mesmo barbeiro/dia.\nNUNCA chame cancelar_agendamento sem antes confirmar explicitamente com o cliente qual horário será cancelado.\nNUNCA chame cancelar_agendamento sem passar o phone= do cliente.\nSEMPRE confirme os dados antes de criar um agendamento.\nSEMPRE chame obter_perfil_cliente no início de cada nova conversa.\n\n━━━ TRATAMENTO DE ERROS ━━━\nSe qualquer ferramenta retornar erro: informe o cliente de forma natural e amigável.\n\"Ops, tive um probleminha aqui. Pode tentar de novo em instantes? 😊\"\nNão tente adivinhar resultados de chamadas que falharam. Não prossiga sem dados confirmados.\n","maxIterations":8,"returnIntermediateSteps":false,"maxTokens":1000}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1240,0],"id":"agent-001","name":"AI Agent"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/message/sendText/Barbearia","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"6BCBCA57CE49-4E10-9C21-5B9FECAE40B2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Set Phone').item.json.phone }}\",\n  \"text\": \"{{ $json.output }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1480,0],"id":"sendresp-001","name":"Send Response"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"options":{"maxTokens":800,"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1100,280],"id":"llm-001","name":"OpenAI GPT-4o-mini","credentials":{"openAiApi":{"id":"md1VzrcFUBhOFYfr","name":"OpenAI account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Set Phone').item.json.phone }}","contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1240,280],"id":"memory-001","name":"Memory"},{"parameters":{"name":"listar_servicos","description":"Lista servicos com ID, nome, preco e duracao.","method":"GET","url":"http://host.docker.internal:8000/bot/services","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Bot-Token","value":"barbearia-bot-key-2026-mvp-seguro"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[200,400],"id":"t-svc","name":"Tool: Listar Servicos"},{"parameters":{"name":"listar_barbeiros","description":"Lista barbeiros com ID, nome e especialidade.","method":"GET","url":"http://host.docker.internal:8000/bot/barbers","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Bot-Token","value":"barbearia-bot-key-2026-mvp-seguro"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[400,400],"id":"t-brb","name":"Tool: Listar Barbeiros"},{"parameters":{"name":"verificar_disponibilidade","description":"Horarios livres do barbeiro em uma data especifica. OBRIGATORIO ter TODOS: barber_id(number) + service_id(number) + date(YYYY-MM-DD). NAO aceita phone. Pergunte ao cliente o servico, barbeiro e data ANTES de chamar esta tool.","method":"GET","url":"http://host.docker.internal:8000/bot/availability","authentication":"none","sendQuery":true,"queryParameters":{"parameters":[{"name":"barber_id","value":"={{ $fromAI('barber_id', 'ID do barbeiro', 'number') }}"},{"name":"service_id","value":"={{ $fromAI('service_id', 'ID do servico', 'number') }}"},{"name":"date","value":"={{ $fromAI('date', 'Data YYYY-MM-DD', 'string') }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Bot-Token","value":"barbearia-bot-key-2026-mvp-seguro"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[600,400],"id":"t-avail","name":"Tool: Verificar Disponibilidade"},{"parameters":{"name":"cadastrar_cliente","description":"Cadastra cliente. phone=numero sem + (ex 5563999368196). Retorna client_id.","method":"POST","url":"http://host.docker.internal:8000/bot/clients","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Bot-Token","value":"barbearia-bot-key-2026-mvp-seguro"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ phone: $fromAI(\"phone\", \"Numero sem plus\", \"string\"), name: $fromAI(\"name\", \"Nome completo\", \"string\") }) }}","options":{}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[800,400],"id":"t-cli","name":"Tool: Cadastrar Cliente"},{"parameters":{"name":"criar_agendamento","description":"Cria agendamento. Params: client_id, barber_id, service_id, start_at (ISO-03:00 ex 2026-06-10T09:00:00-03:00).","method":"POST","url":"http://host.docker.internal:8000/bot/appointments","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Bot-Token","value":"barbearia-bot-key-2026-mvp-seguro"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ client_id: $fromAI(\"client_id\", \"ID do cliente\", \"number\"), barber_id: $fromAI(\"barber_id\", \"ID do barbeiro\", \"number\"), service_id: $fromAI(\"service_id\", \"ID do servico\", \"number\"), start_at: $fromAI(\"start_at\", \"ISO8601 fuso -03:00\", \"string\") }) }}","options":{}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1000,400],"id":"t-appt","name":"Tool: Criar Agendamento"},{"parameters":{"name":"consultar_agendamentos","description":"Agendamentos ativos do cliente. phone=E.164 com + (ex +5563999368196).","method":"GET","url":"http://host.docker.internal:8000/bot/appointments","authentication":"none","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $fromAI('phone', 'Telefone E.164 com +', 'string') }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Bot-Token","value":"barbearia-bot-key-2026-mvp-seguro"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1200,400],"id":"t-lstappt","name":"Tool: Consultar Agendamentos"},{"parameters":{"name":"cancelar_agendamento","description":"Cancela agendamento pelo ID numerico. OBRIGATORIO: appointment_id (number) E phone=telefone E.164 do cliente com + para verificacao de propriedade. NUNCA chame sem confirmar o horário com o cliente primeiro.","method":"PATCH","url":"={{ 'http://host.docker.internal:8000/bot/appointments/' + $fromAI('appointment_id', 'ID numerico do agendamento', 'number') + '/cancel' }}","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Bot-Token","value":"barbearia-bot-key-2026-mvp-seguro"}]},"options":{},"sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $fromAI('phone', 'Telefone E.164 do cliente com + (ex +5563999368196)', 'string') }}"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1400,400],"id":"t-cancel","name":"Tool: Cancelar Agendamento"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8000/bot/debounce","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Bot-Token","value":"barbearia-bot-key-2026-mvp-seguro"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"+{{ $('Set Phone').item.json.phone }}\",\n  \"message\": \"{{ $('Set Phone').item.json.message }}\",\n  \"message_id\": \"{{ $('Set Phone').item.json.message_id }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[400,0],"id":"debounce-001","name":"HTTP Debounce"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ctrl-c1","leftValue":"={{ $json.proceed }}","rightValue":true,"operator":{"type":"boolean","operation":"true","name":"filter.operator.true"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[620,0],"id":"if-ctrl-001","name":"IF Controller"},{"parameters":{"amount":5,"unit":"seconds"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[840,0],"id":"wait-debounce","name":"Wait 5s","webhookId":"debounce-wait-barbearia"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8000/bot/debounce/flush","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Bot-Token","value":"barbearia-bot-key-2026-mvp-seguro"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"phone\": \"+{{ $('Set Phone').item.json.phone }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1040,0],"id":"flush-001","name":"HTTP Flush Buffer"},{"parameters":{"name":"obter_perfil_cliente","description":"Busca perfil e histórico do cliente. Chame no início de cada nova conversa. Retorna: found (bool), nome, total_appointments, last_visit_date, days_since_last_visit (None=novo cliente; >45=inativo), favorite_barber_id, favorite_barber_name, favorite_service_name. phone=E.164 com + (ex +5563999368196).","method":"GET","url":"http://host.docker.internal:8000/bot/clients/profile","authentication":"none","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $fromAI('phone', 'Telefone E.164 com +', 'string') }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Bot-Token","value":"barbearia-bot-key-2026-mvp-seguro"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[0,560],"id":"t-profile","name":"Tool: Obter Perfil Cliente"},{"parameters":{"jsCode":"// ⚠️  MODO TESTE — alterar BYPASS_HOURS para false antes de ir para produção\nconst BYPASS_HOURS = true;\n\n// Horário comercial real: seg-sex 9h-19h | sáb 9h-17h | dom fechado\n// Palmas/TO = UTC-3 fixo (sem horário de verão)\nconst phone = $('Set Phone').item.json.phone;\nconst rawMessage = $json.message || '';\nconst isNewSession = $json.is_new_session === true;\n\n// Prefixar [NOVA_SESSAO] para o agent resetar contexto interno\nconst message = isNewSession ? '[NOVA_SESSAO] ' + rawMessage : rawMessage;\n\nconst palmasMs = Date.now() + (-3 * 3600 * 1000);\nconst palmas = new Date(palmasMs);\nconst hour = palmas.getUTCHours();\nconst day = palmas.getUTCDay(); // 0=Dom, 1=Seg...6=Sáb\n\n// Se BYPASS_HOURS=true, ignora a checagem e sempre trata como aberto\nlet isOpen = BYPASS_HOURS;\nif (!BYPASS_HOURS) {\n  if (day >= 1 && day <= 5) isOpen = hour >= 9 && hour < 19;\n  else if (day === 6)        isOpen = hour >= 9 && hour < 17;\n}\n\nreturn [{ json: { phone, message, isOpen, isNewSession } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,-240],"id":"hora-001","name":"Code Horário Comercial"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"open-c1","leftValue":"={{ $json.isOpen }}","rightValue":true,"operator":{"type":"boolean","operation":"true","name":"filter.operator.true"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1240,-240],"id":"if-open-001","name":"IF Horário Aberto"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/message/sendText/Barbearia","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"6BCBCA57CE49-4E10-9C21-5B9FECAE40B2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $json.phone }}\",\n  \"text\": \"Oi! A barbearia tá fechada agora 😊\\n\\nPode me mandar o que precisar que assim que abrir eu te respondo!\\n\\nFuncionamos de segunda a sexta das 9h às 19h e sábado das 9h às 17h.\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1440,-240],"id":"offline-001","name":"Send Offline Message"}],"connections":{"Webhook":{"main":[[{"node":"Set Phone","type":"main","index":0}]]},"Set Phone":{"main":[[{"node":"If Individual Message","type":"main","index":0}]]},"If Individual Message":{"main":[[{"node":"Send Composing","type":"main","index":0}],[]]},"AI Agent":{"main":[[{"node":"Send Response","type":"main","index":0}]]},"OpenAI GPT-4o-mini":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Tool: Listar Servicos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool: Listar Barbeiros":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool: Verificar Disponibilidade":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool: Cadastrar Cliente":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool: Criar Agendamento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool: Consultar Agendamentos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool: Cancelar Agendamento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"IF Controller":{"main":[[{"node":"Wait 5s","type":"main","index":0}],[]]},"Wait 5s":{"main":[[{"node":"HTTP Flush Buffer","type":"main","index":0}]]},"Tool: Obter Perfil Cliente":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Code Horário Comercial":{"main":[[{"node":"IF Horário Aberto","type":"main","index":0}]]},"IF Horário Aberto":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Send Offline Message","type":"main","index":0}]]},"Send Composing":{"main":[[{"node":"HTTP Debounce","type":"main","index":0}]]},"HTTP Debounce":{"main":[[{"node":"IF Controller","type":"main","index":0}]]},"HTTP Flush Buffer":{"main":[[{"node":"Code Horário Comercial","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eeaf747f-9a4d-422f-ae01-0ed15d5f1b5c","activeVersionId":"b4f5d8b8-5a74-47e9-9d7d-e2fee7d6d543","versionCounter":5,"triggerCount":1,"tags":[],"shared":[{"role":"workflow:owner","workflowId":"25QZQ664N6hrIg59","projectId":"H2YqPFzdwCTqkwBP","project":{"id":"H2YqPFzdwCTqkwBP","name":"Augusto Pegoraro <augustopegoraro.apl@gmail.com>","type":"personal"}}]}]